<section class="auth">
    <div class="container">
        <div class="images">
        </div>
        <div class="formBox">
            <% if(messages){ %>
                <span id="errorMessage" class="text-red-600 text-base"><%= messages.error %></span>
            <% } %>
            <form action="/register" method="POST" autocomplete="off">
                <h2>Sign Up</h2>
                <div class="inputBox">
                    <label>Your Name</label>
                    <input type="text" name="name" placeholder="Bruce wayne" 
                    value="<%= messages.name %>"> 
                </div>
                <div class="inputBox">
                    <label>Your Email</label>
                    <input type="text" name="email" placeholder="wayne@gmail.com"
                    value="<%= messages.email %>">
                </div>
                <div class="inputBox">
                    <label>Password</label>
                    <input type="password" name="password">
                </div>
                <div class="inputBox active">
                    <label>Confirm Password</label>
                    <input type="password" name="ConfirmPswd">
                </div>
                <button type="submit" class="btn-style">Sign Up <span>></span></button>
            </form>
            <p>Already have an account? <a href="/login">Sign In</a></p>
            
        </div>

    </div>

</section>