<section class="home">
    <div class="left"></div>
    <div class="right"></div>
    <div class="headset">
        <img src="/images/black.png" alt="" srcset="">
    </div>
    <div class="home-content">
        <div class="text-1">Live<span>Music</span></div>
        <div class="text-2">Listen to <span class="typing"></span></div>
        <div class="text-3">Share your <span>talent of music with the world through us..</span></div>
        <div class="joinBtn">
            <a href="/dashboard" class="join">Lets's play it</a>
        </div>
    </div>
    <a href="#whyus"><div class="intro-expand">
        <h2>Learn more about liveMusic</h2>
        <span></span>
        <span></span>
        <span></span>
    </div>
    </a>    
</section>
<section class="whyus" id="whyus">
    <div class="title">
        <h2>Why live<span>Music</span>?</h2>
    </div>
    <div class="options">
        <div class="play card">
            <div class="logo">
                <span class="fa fa-play"></span>
            </div>
            <div class="data">
                <h2>Let's play it.</h2>
                <p>Listen to the songs you love.And explore the other options available.</p>
            </div>
        </div>
        <div class="play card active">
            <div class="logo">
                <span class="fa fa-music"></span>
            </div>
            <div class="data">
                <h2>Custom Music Player</h2>
                <p>Custom Play,Pause,Shuffle,Loop and many more..</p>
            </div>
        </div>
        <div class="play card">
            <div class="logo">
                <span class="fa fa-upload"></span>
            </div>
            <div class="data">
                <h2>Upload your collections</h2>
                <p>upload and share your music collections to the world with us !.</p>
            </div>
        </div>
    </div>
</section>
<section class="aboutus" id="aboutus">
    <div class="title">
        <h2>About <span>Us</span>?</h2>
    </div>
    <div class="aboutcontent">
        <p>
            li<span>veMus</span>ic is an online music website.<br>Where you can listen to your favourite songs for free.A platform where you can Share your talent of music with the world through us.We are planning to integrate various music api into our site.So you can listen to millons of songs with just a click on the play button.
        </p>
        <div class="hearphone">
        </div>
    </div>
</section>
<section class="pricingPage">
    <div class="priceBox">
        <h2>Simple,Transparent Pricing for everyone :)</h2>
        <p>Choose the package that suits you.</p>
    </div>
    <div class="plans">
        <div class="AllPack">
            <h2>Basic Pack</h2>
            <div><span><sup>&#8377;</sup>0<sub>/Free</sub></span></div>
            <form action="/" method="POST"> 
                <button type="submit" value="basic" name="basic" disabled class="active">GET STARTED</button>
            </form>
            <p>
                <span><i class="fa fa-check" style="color: green;"></i>Custom Music Player</span>
                <span><i class="fa fa-check" style="color: green;"></i>Upload only 3 music</span>
            </p>
        </div>
        <div class="AllPack active">
            <h2>Standard Pack</h2>
            <div><span><sup>&#8377;</sup>99<sub>/Month</sub></span></div>
            <form action="/standardPack" method="POST"> 
                <button type="submit" value="standard" name="standard">GET STARTED</button>
            </form>
            <p>
                <span><i class="fa fa-check" style="color: green;"></i>Custom Music Player</span>
                <span><i class="fa fa-check" style="color: green;"></i>Upload only 5 music</span>
            </p>
        </div>
        <div class="AllPack">
            <h2>Premium Pack</h2>
            <div><span><sup>&#8377;</sup>199<sub>/Month</sub></span></div>
            <form action="/premiumPack" method="POST"> 
                <button type="submit" value="premium" name="premium">GET STARTED</button>
            </form>
            <p>
                <span><i class="fa fa-check" style="color: green;"></i>Custom Music Player</span>
                <span><i class="fa fa-check" style="color: green;"></i>Upload unlimited music</span>
            </p>
        </div>
    </div>
</section>
<footer>
        <div class="mainContent">
            <div class="summary Box">
                <h2><img src="/images/logoimage.svg" alt="logo" height="36" width="36">Live<span>Music</span></h2>
                <p>A LITTLE ABOUT US...</p>
                <p>
                    Live music is an online music website.<br>Where you can listen to your favourite songs for free.<br>A platform where you can present your songs to the World.
                </p>                      
            </div>
            <div class="social Box">
                <h2>Follow <span>Us</span></h2>
                <div class="icons">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <div class="contact Box">
                <h2>Contact <span>Us</span></h2>
                <div class="phone">
                    <span class="fa fa-phone"></span>
                    <span class="text"> 91+ 8291653686</span>
                </div>
                <div class="email">
                    <span class="fa fa-envelope"></span>
                    <span class="text">livemusic2k20@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>
                &copy 2020 liveMusic.com | All Right Reserved.<br>
                Designed by <span>Vcreations</span> , India <img src="/images/indianflag.svg" alt="INDIANFLAG" srcset="" height="18" width="24">
            </p>
        </div>
</footer>

