<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/app.css">


</head>
<body>
<div class="emailBox">
        <div class="emalSent-card">
                <div class="result">
                        <div class="checkIcon">
                                <span class="fa fa-check fa-2x"></span>
                        </div>
                        <h1>Email Sent !!!</h1>

                </div>
                <div class="message">
                        <p>A link to reset your Password has been sent to you on <br><span><%= emailadds %></span></p>
                </div>
            </div>   
</div>    
</body>
</html>
